:root {
  --indigo-050: #e0e8f9;
  --indigo-100: #bed0f7;
}

body {
  padding: 4em 1em;
  background-color: var(--indigo-050);
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: normal;
}
